.container {
  text-align: center;
  align-items: center;
  width: auto;
}
.title1{
  width: auto;
  border: 1px solid black;
}

.body1{
  width: auto;
  border: 1px solid black;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
